body {
        background-image: url(../nontex2.png);
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        padding: 20px;
        color: rgb(0, 0, 0);
    }

    .card-container {
        background: #0a2c00;
        width: 380px;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 0 15px rgba(0,0,0,0.6);
    }

    .header {
        background: #1c7900;
        padding: 12px;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
    }

    .tabs {
        display: flex;
        background: #185500;
    }

    .tabs div {
        width: 50%;
        padding: 10px;
        text-align: center;
        cursor: pointer;
        border-bottom: 2px solid transparent;
    }

    .tabs div.active {
        border-bottom: 2px solid #82c97c;
    }

    .image-box img {
        width: 100%;
    }

    .info-section {
        padding: 12px;
    }

    .info-title {
        font-weight: bold;
        color: #9ae1a0;
        margin-top: 12px;
        margin-bottom: 5px;
        font-size: 15px;
    }

    .info-box {
        background: #57834a;
        padding: 8px;
        border-radius: 4px;
        margin-bottom: 5px;
        font-size: 14px;
    }

    .info-label {
        color: #57834a;
        font-weight: bold;
    }

    a {
        color: rgb(129, 0, 0);
    }


    .card-container-combat {
        margin-top: 15px;
        background: #0a2c004b;
        width: 380px;
        border-radius: 8px;
        border-color: #030c00;
        border-style: solid;
        overflow: hidden;
        box-shadow: 0 0 15px rgba(0,0,0,0.6);
    }

    .atk-title {
        font-weight: bold;
        color: #9ae1a0;
        margin-top: 12px;
        margin-bottom: 5px;
        font-size: 15px;
    }